// .TableHeaderRow, 
.CouponTable {
    padding: 0 2%;
    margin: 0;
    max-height: 80vh;

    .col{ text-align: center; }

    .NoRecordDataRow {
        margin: 1% 1%;        
        justify-content: center;
    }
    .TableHeaderRow, .TableDataRowContainer {
        border: 1px solid #DEDEDE;
        background: #FFFFFF;
        box-shadow: 0px 17px 76px #95959502;        
    }
    .TableDataRowContainer{
        height: 67vh;
        overflow-y: scroll;
        padding : 0;
    }
    .TableHeaderRow, .TableDataRow{
        padding: 1% 0;
        margin:0;
    }
    .TableHeaderRow {
        margin-bottom: 1%;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        height: 9vh;
    }
    .TableDataRow {
        text-align: center;
        font-size: 17px;
    }
    .TableDataItemCon {
        display: flex;
        cursor: pointer;
        // padding: 0;
    }
    // .TableDataItem {
    //     padding: 3px 15px;
    //     height: 35px;
    // }
    .sno { min-width: 11%; }
    .code{ max-width: 23%; }
    .dis{ min-width: 22%;}
    .statusBtn { min-width: 23%; }
    // .startDate{ min-width: 15%;}


    .ActionBtnDiv{
        justify-content: space-evenly;
        display: flex;
    }

    .BtnStatus, .BtnActionStatus {
        width: 110px;
        height: 28px;
        padding-top: 0;        
    }

    .BtnActionIcon{
        background: #FFFFFF;
        height: 28px;
        padding-top: 0;
        border-color: #85A2BB;
        width: 12%;
        padding-left: 3%;
        .ActionIcon{ width: 100%; }        
    }
    .BtnActionIcon:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
        background: none;
    }
    .BtnActionIcon:focus{ box-shadow: none;}
    .editBtn:hover {
        box-shadow: 0 0 0 0.1rem #FFC90D;
        border: #FFC90D;
    }
    .deleteBtn:hover {
        box-shadow: 0 0 0 0.1rem #E94336;
        border: #E94336;
    }

    .Active { background-color: #109B3C; }
    .Active:not(:disabled):not(.disabled):active{
        background-color: #109B3C;
        box-shadow: 0 0 0 0.1rem #109b3c;
    }

    .Deactive{ background-color: #E94336; }
    .Deactive:not(:disabled):not(.disabled):active{
        background-color: #E94336;
        box-shadow: 0 0 0 0.1rem #E94336;
    }

    .Expired { background-color: #FFC90D; }
    .Expired:not(:disabled):not(.disabled):active{
        background-color: #FFC90D;
        box-shadow: 0 0 0 0.1rem #FFC90D;
    }
    
    .Deactivate{ 
        color: #E94336;
        border-color: #E94336;
    }
    .Deactivate:not(:disabled):not(.disabled):active {
        color: #E94336;
        background-color: #FFFFFF;
        box-shadow: 0 0 0 0.1rem #E94336;
    }    
    .Activate{ 
        color: #109b3c;
        border-color: #109b3c;
    }
    .Activate:not(:disabled):not(.disabled):active {
        color: #109b3c;
        background-color: #FFFFFF;
        box-shadow: 0 0 0 0.1rem #109b3c;
    }
    .Renew{ 
        // color: #85A2BB;
        // border-color: #85A2BB;
        visibility: hidden;
        border:none;
        :focus{
            border: none;
            background-color: #FFFFFF;
        }
    }
    .Renew:not(:disabled):not(.disabled):active {
        color: #85A2BB;
        background-color: #FFFFFF;
        box-shadow: 0 0 0 0.1rem #85A2BB;
    }
    .BtnStatus{
        border: none;
    }
    .BtnStatus:hover { cursor: default;}
    .BtnStatus:focus, .BtnActionStatus:focus { box-shadow: none; }
    .BtnActionStatus {
        background-color: #FFFFFF;
        :focus {
            border: none;
        }
    }
}